page-rechercheresultats {

    .contenu-page
    {
        background-color: #F4F4F7;
    }

    .card-spot
    {
        margin-bottom:10%;
    }

    .titre-card
    {
        text-align: center;
    }

}
