page-recherche {

    .contenu-page
    {
        background-color: #EFEFF4;
    }

    .block-radio
    {
        margin-top: 5%;
        margin-bottom: 7%;
    }

    .titre-label
    {
        margin-left: 7%;
        text-transform: uppercase;
        color: #333333;
    }
    
    #btn-submit
    {
        margin-right:5%;
        margin-left: 5%;
        margin-bottom: 6%;
    }

}
